server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3307/sub_track_plat?useSSL=false&serverTimezone=UTC
    username: root
    password: liumeilin
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: defectManager
mybatis-plus:
  #mapper????
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.defectManager.entity
  configuration:
    #??????
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: AUTO
logging:
  level:
    org.springframework: DEBUG
    com.baomidou.mybatisplus: TRACE
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      #????????????????????
      packages-to-scan: com.defectManager.controller
knife4j:
  enable: true
  setting:
    language: zh-CN
    enable-swagger-models: true
    enable-document-manage: true